<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @counter.name %>
</p>

<p>
  <strong>Valeur:</strong>
  <%= @counter.valeur %>
</p>

<%= link_to 'Edit', edit_counter_path(@counter) %> |
<%= link_to 'Back', counters_path %>
